@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 20px;
}

header img {
    width: 20%;
}

.logo-left img {
    width: 5%;
}

#logo-main {
    color: rgb(15, 134, 238);
    margin-top: 10px;
    margin-right: 500px;
    text-shadow: 4px 4px 0px #19539F, 7px 7px 0px rgba(246, 239, 239, 0.997);
}

.form-group {
    border-bottom: 1px solid black;
    display: flex;
    margin-top: 20px;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


nav {
    width: 100%;
    background-color: #19539F;
    display: flex;
    justify-content: center;
    padding: 20px;

}

#main-menu li a {
    margin: 0 auto;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    margin-right: 5px;
}

#main-menu li:hover a {
    background-color: #fff;
    color: #19539F;
}

#main-menu .sub-menu {

    position: absolute;
    width: 150px;
    display: none;
    z-index: 1;

}

#main-menu .sub-menu {
    list-style: none;
}

#main-menu .sub-menu li a {
    border-top: 1px solid rgb(202, 199, 199);
    text-align: center;
    color: #19539F;
}


.Banner {
    width: 100%;
}

.Banner img {
    width: 100%;

}

h1 {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border: 0;
    color: #19539F;
    border-bottom: 2px dashed #19539F;
}

.big-list-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list {
    width: 24%;
    margin-bottom: 20px;

}

.list img {
    width: 100%;
    display: block;
    padding: 20px;
    transform: scale(1);
    transition: all 0.5s;
}

.list:hover img {
    transform: scale(1.03);
}

.title-product {
    font-size: 18px;
    text-align: center;
    display: block;
    font-weight: bold;
}

.product-price {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.list {
    position: relative;
}

.list .buy {
    position: absolute;
    text-align: center;
    display: block;
    padding: 10px 0;
    background-color: rgba(71, 90, 217, 0.5);
    width: 100%;
    bottom: 50px;
    color: aliceblue;
    display: none;
}

.list:hover .buy {
    display: block;
}

.footer-one {
    margin-top: 100px;
    width: 100%;
}

.footer-one .footer-one-product {
    text-align: center;
    color: rgb(15, 134, 238);
    text-shadow: 4px 4px 0px #19539F, 7px 7px 0px rgba(246, 239, 239, 0.997);
    margin-bottom: 30px;
}

.phone {
    margin: 0 auto;
    text-align: center;
    border: 0;
    color: #19539F;
    border-bottom: 3px dashed #19539F;
    width: 80%;
    padding-bottom: 20px;
}

.phone a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-size: 20px;
}

.fi {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

.fi i {
    color: #19539F;
    margin-right: 30px;
}

.product-help {
    width: 100%;
    height: 100px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;

}

.product-help i {
    padding: 8px;
    border: 1px solid black;
    border-radius: 30px;

}

.phone-help a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

.phone-help {
    margin-left: 20px;
}

.footer {
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer p {
    margin-bottom: 5px;

    font-family: 'Roboto Flex', sans-serif;
}

.footer a {

    font-family: 'Roboto Flex', sans-serif;
    text-decoration: none;
    color: black;
}

.footer h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Roboto Flex', sans-serif;
}

.footer-end {
    border-top: 0.5px solid rgb(230, 230, 230);
    text-align: center;
    padding: 25px 0;
}

.footer-end p {
    font-family: 'Roboto Flex', sans-serif;
}

.fanpage {
    position: relative;
}

.fanpage .logo {
    position: absolute;
    top: 70px;
    left: 40px;
    font-size: 40px;
    color: rgb(15, 134, 238);
    text-shadow: 4px 4px 0px #19539F, 7px 7px 0px rgba(246, 239, 239, 0.997);
    border: 1px solid black;
    padding: 15px;
}

.fanpage .fi1 {
    position: absolute;
    bottom: 40px;
    color: red;
    left: 100px;
}

.fanpage i {
    margin-right: 6px;
}

.fanpage .fi2 {
    position: absolute;
    bottom: 20px;
    left: 120px;
    color: #19539F;
}

.thongtin i {
    margin-right: 10px;
}